@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

:root {
  --main-color: #1e1f4b;
  --second-color: #706fe5;
  --third-color: #2e3e5c;
  --white: #ffffff;
  --black: #1b1d21;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #222;
  display: block;
}

img {
  width: 100%;
  display: block;
}

/* Global */

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

#header .nav {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header .nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3.75rem;
}

#header .nav ul a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1rem;
  color: var(--main-color);
  transition: 0.3s;
  position: relative;
  padding: 12px 0;
}

#header .nav ul a::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  opacity: 0;
}

#header .nav ul a:hover {
  color: var(--second-color);
}

#header .nav ul a:hover::after {
  background: var(--second-color);
  opacity: 1;
  width: 100%;
}

/* Home */

#home {
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: center;
  justify-content: center;
  padding: 5rem 1.25rem 8rem 1.25rem;
}

#home h1 {
  font-size: 4.25rem;
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.2px;
  margin-bottom: 1.5rem;
}

#home .title {
  position: relative;
  padding: 0 38px;
  max-width: 354px;
  text-align: center;
  display: inline-block;
  color: var(--second-color);
}

#home h2 {
  font-size: 3.75rem;
}

.circle {
  position: absolute;
  background: var(--white);
  border: 8px solid var(--second-color);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.left-top {
  left: 0;
  top: 0;
}

.left-bottom {
  left: 0;
  bottom: 0;
}

.right-top {
  right: 0;
  top: 0;
}

.right-bottom {
  right: 0;
  bottom: 0;
}

#home p {
  font-size: 1.25rem;
  color: var(--third-color);
  font-weight: 400;
  max-width: 555px;
  margin-bottom: 1.25rem;
}

.home-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home-buttons li:first-child a {
  background: var(--second-color);
  border-radius: 12px;
  padding: 10px 40px;
  font-weight: 600;
  color: var(--white);
  transition: 0.3s;
}

.home-buttons li:first-child a:hover {
  color: var(--main-color);
}

.home-buttons li:nth-child(2) a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--third-color);
}

.home-buttons li:nth-child(2) a::before {
  content: "";
  width: 48px;
  height: 48px;
  transition: 0.5s;
  background: url("../img/icons/button_play.svg");
}

.home-buttons li:nth-child(2) a:hover::before {
  background: url("../img/icons/button_play_hover.svg");
}

.home-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-right .people-image {
  height: 496px;
}

.home-right .employees img {
  position: absolute;
  width: 279px;
  height: 171px;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 50%);
}

.home-right::after {
  content: "";
  width: 83px;
  height: 83px;
  background: url("../img/icons/sem_eclipse.svg") no-repeat center center;
  position: absolute;
  bottom: -110px;
  right: 98px;
  transform: translate(-50%, -50%);
}

.home-right::before {
  content: "";
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  border: 8px solid var(--second-color);
  background: hsla(241, 69%, 67%, 0.15);
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-52%);
  z-index: -1;
}

.icons-software img {
  position: absolute;
  animation: animaIconsHome 1s infinite alternate;
}

.icons-software img:nth-child(1) {
  height: 70px;
  width: 71px;
  left: -5%;
  top: -5%;
}

.icons-software img:nth-child(2) {
  height: 102px;
  width: 102px;
  left: 10%;
  top: 8%;
}

.icons-software img:nth-child(3) {
  height: 125px;
  width: 125px;
  right: 5%;
  top: 8%;
}

@keyframes animaIconsHome {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

/* Partners */

#partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
  padding: 3.75rem 1.25rem 6.25rem 1.25rem;
  width: 100%;
  background: rgba(115, 113, 229, 0.02);
}

#partners h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--main-color);
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.partners-icons {
  display: flex;
  gap: 5rem;
}

/* Works Section */

#works {
  padding: 6.875rem 1.25rem 9.25rem 1.25rem;
}

#works h2 {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 0.875rem;
}

.title-works p {
  opacity: 0.8;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.8125rem;
}

.works-container div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.works-container p,
.works-container span {
  opacity: 0.8;
  color: var(--third-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 26px;
}

.works-container h3 {
  font-size: 1.5rem;
  color: var(--main-color);
  font-weight: 700;
  line-height: 28px;
}

.works-container p {
  max-width: 650px;
}

.work-1 {
  grid-area: 1 / 1 / 7 / 7;
}

.work-2 {
  grid-area: 1 / 7 / 4 / 10;
}

.work-3 {
  grid-area: 1 / 10 / 4 / 13;
}

.work-4 {
  grid-area: 4 / 7 / 7 / 10;
}

.work-5 {
  grid-area: 4 / 10 / 7 / 13;
}

/* Clients comments */
#comments {
  padding: 5.625rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #706fe505;
}

#comments::before,
#comments::after {
  position: absolute;
  content: "";
  background: url("../img/icons/detail_comments.svg");
  height: 70px;
  width: 98px;
}

#comments::before {
  top: 72px;
  left: 200px;
  transform: rotate(14.48deg);
}

#comments::after {
  bottom: 100px;
  right: 131px;
  transform: rotate(-14.48deg);
}

#comments h2 {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
}

#comments .slide-wrapper {
  overflow: hidden;
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

#comments .slide li {
  flex-shrink: 0;
  max-width: 669px;
  transition: 0.4s;
  margin: 0 20px;
  color: var(--main-color);
  font-size: 1rem;
  opacity: 0.5;
  margin-bottom: 5rem;
  line-height: 3;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  position: relative;
}

#comments .slide li p {
  position: relative;
}

#comments .slide li.active {
  opacity: 1;
}

#comments .slide li::before,
#comments .slide li::after {
  content: "“";
  font-size: 11.25rem;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--second-color);
  font-weight: 800;
  position: absolute;
}

#comments .slide li::before {
  left: -100px;
  top: 0;
}

#comments .slide li::after {
  transform: rotate(180deg);
  right: -20%;
  top: -70px;
}

.slide-thumb.ativo p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-color);
  position: absolute;
}

.slide-thumb.ativo span {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--third-color);
  opacity: 0.8;
  position: absolute;
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

[data-control="slide"] li {
  transition: 0.3s;
  padding: 5px;
  border: 5px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

[data-control="slide"] li:hover {
  transform: scale(1.2);
}

[data-control="slide"] li.active {
  border-color: var(--second-color);
  transform: scale(1.4);
}

/* Newsletter */
#newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 7.5rem;
  padding-bottom: 9rem;
}

.subscribe h2 {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.subscribe p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8;
  color: var(--black);
  opacity: 0.75;
  max-width: 457px;
  margin-bottom: 3.125rem;
}

.newsletter-form label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background: hsla(241, 69%, 67%, 0.1);
  border-radius: 12px;
  box-shadow: 0px 26px 40px 0px rgba(0, 0, 0, 0.06);
  width: max-content;
}

.newsletter-form label img {
  height: 24px;
  width: 24px;
  margin-right: 0.75rem;
}

.newsletter-form label input {
  font-family: "Poppins", sans-serif;
  margin-right: 2.75rem;
  background: hsla(241, 69%, 67%, 0);
  border: none;
  font-size: 1rem;
  color: var(--third-color);
  font-weight: 400;
  width: 250px;
}

.newsletter-form label input:focus {
  outline: none;
}

.newsletter-form label button {
  padding: 0.625rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 6px 20px 0px rgba(112, 111, 229, 0.5);
  background: var(--second-color);
  border: none;
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter-form label button:hover {
  color: var(--main-color);
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.875rem;
}

.service-img {
  padding: 13px;
  border-radius: 12px;
  background: rgba(115, 113, 229, 0.15);
  width: max-content;
  margin-bottom: 0.75rem;
}

.services img {
  height: 24px;
  width: 24px;
}

.services h3 {
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--main-color);
}

.services p {
  margin-bottom: 1.875rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: var(--third-color);
  opacity: 0.8;
}

/* Footer */

#footer {
  background: var(--third-color);
  border: 0px solid var(--second-color);
  padding: 55px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 55px;
  border-bottom: 1px solid rgba(236, 239, 244, 0.1524);
}

.social-list {
  display: flex;
  gap: 1rem;
}

.social-list li a {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
  padding: 1rem;
  border-radius: 50%;
  transition: background 0.3s;
}

.social-list li a:hover {
  background: rgba(115, 113, 229, 0.7);
}

.social-list img {
  height: 14px;
  width: 14px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3.125rem 0 5.625rem 0;
}

.footer-bottom h3 {
  margin-bottom: 1.25rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1.125rem;
}

.footer-bottom div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-links {
  display: flex;
  gap: 7.2rem;
  width: max-content;
}

.company-links a {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.75;
  color: var(--white);
  transition: color 0.3s;
}

.company-links a:hover {
  color: var(--second-color);
}

.contact-us {
  padding: 10px 40px;
  background-color: var(--second-color);
  width: max-content;
  border-radius: 12px;
  color: var(--white);
  transition: color 0.3s;
}

.contact-us:hover {
  color: var(--third-color);
}

.directs {
  text-align: center;
  color: var(--white);
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 400;
}
